.audience {
    padding: 50px 15px 50px 15px;
    background: #00a1c6;
    // opacity: 0.07;

    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        color: #2b292d;
    }
    &__title {
        margin-top: 17px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        color: #2b292d;
    }
    &__description {
        margin-top: 18px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #2b292d;
    }

    &__action-button {
        margin-top: 30px;
        width: 290px;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: #ffffff;
        background-color: #3040c4;
        border: 0;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    }
    &__menu-button {
        margin-top: 15px;
        width: 290px;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: #000000;
        background-color: #ffffff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    }

    &__item-developer {
        margin: 0;
        width: 290px;
        height: 300px;
        border-radius: 8px;
        margin-top: 40px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        background-color: #ffffff;
    }
    &__logo-developer {
        padding: 22px 76px;
    }

    &__caption-developer {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #2b292d;
    }

    &___item-enter {
        margin: 0;
        margin-top: 15px;
        width: 290px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        background: #3040c4;
    }
    &__logo-enter {
        padding: 22px 74px;
    }

    &__caption-enter {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
    }

    &__item-athletes {
        margin: 0;
        margin-top: 15px;
        width: 290px;
        height: 300px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        background-color: #ffffff;
    }
    &__logo-athletes {
        padding: 22px 65px;
    }

    &__caption-athletes {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #2b292d;
    }

    &__item-creators {
        margin: 0;
        margin-top: 15px;
        width: 290px;
        height: 300px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        background-color: #ffffff;
    }

    &__logo-creators {
        padding: 22px 100px 22px 71px;
    }
    &__caption-creators {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #2b292d;
    }
}
