.audience {
    padding: 50px 15px 50px 15px;
    background: rgb(0 161 198 / 7%);
    @include for-large-up {
        height: 983px;
    }

    &__section-top {
        @include for-large-up {
            display: flex;
            flex-direction: column;
        }
    }
    &__section-elemnt {
        @include for-large-up {
            display: flex;
            justify-content: center;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: $text-color-grey;
        display: flex;
        justify-content: center;

        @include for-large-up {
            padding-top: 58px;
            max-width: 168px;
        }
    }
    &__title {
        margin-top: 17px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        color: $text-color-grey;

        @include for-large-up {
            margin: 0;
            margin-top: 24px;
            max-width: 555px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }
    }
    &__description {
        margin-top: 18px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: $text-color-grey;

        @include for-large-up {
            margin: 0;
            margin-top: 30px;
            max-width: 555px;
        }
    }

    .block-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;

        @include for-large-up {
            flex-direction: row;
            justify-content: center;
            margin-top: 34px;
            margin-bottom: 111px;
        }
    }
    &__action-button {
        margin-top: 30px;
        width: 100%;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: $text-color-white;
        background-color: $button-color-blue;
        border: 0;
        border-radius: 2px;
        box-shadow: $box-shadow;

        @include for-large-up {
            margin: 0;
            max-width: 160px;
            margin-right: 10px;
        }
    }

    &__menu-button {
        margin-top: 15px;
        margin-bottom: 40px;
        width: 100%;
        height: 48px;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        color: $text-color-black;
        background-color: $text-color-white;
        border: 0;
        border-radius: 2px;
        box-shadow: $box-shadow;

        @include for-large-up {
            margin: 0;
            max-width: 160px;
            // margin-right: 10px;
        }
    }
    .block-picture {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__item-developer {
        margin: 0;
        max-width: 100%;
        height: 300px;
        border-radius: 8px;
        box-shadow: $box-shadow;
        background-color: $text-color-white;
    }
    &__logo-developer {
        padding: 22px 76px;
    }

    &__caption-developer {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: $text-color-grey;
    }

    &___item-enter {
        margin: 0;
        margin-top: 15px;
        max-width: 100%;
        height: 300px;
        border-radius: 8px;
        box-shadow: $box-shadow;
        background: $button-color-blue;
    }
    &__logo-enter {
        padding: 22px 74px;
    }

    &__caption-enter {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: $text-color-white;
    }

    &__item-athletes {
        margin: 0;
        margin-top: 15px;
        max-width: 100%;
        height: 300px;
        box-shadow: $box-shadow;
        border-radius: 8px;
        background-color: $text-color-white;
    }
    &__logo-athletes {
        padding: 22px 65px;
    }

    &__caption-athletes {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: $text-color-grey;
    }

    &__item-creators {
        margin: 0;
        margin-top: 15px;
        max-width: 100%;
        height: 300px;
        box-shadow: $box-shadow;
        border-radius: 8px;
        background-color: $text-color-white;
    }

    &__logo-creators {
        padding: 22px 100px 22px 71px;
    }
    &__caption-creators {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: $text-color-grey;
    }

    .gallery-items {
        @include for-large-up {
            display: flex;
            align-items: baseline;
            justify-content: center;
        }
    }

    .gallery {
        @include for-large-up {
            display: flex;
            justify-content: center;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
