.comunication {
    background-color: #f2f2f2;
    padding: 50px 0 50px 15px;
    // height: 100%;

    &__subtitle {
        width: 255px;
        height: 34px;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: #0189d1;
    }

    &__title {
        margin: 0;
        width: 290px;
        height: 80px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        color: #2b292d;
        margin-top: 17px;
    }

    &__description {
        margin: 0;
        width: 290px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #2b292d;
        margin-top: 17px;
    }
    &__action {
        margin: 0;
        width: 160px;
        height: 48px;
        border: 0;
        background-color: #3040c4;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
            inset 0px 1px 0px rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        margin-top: 30px;
    }
    .get-started {
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
    }
    &__logo-phone {
        margin: 0;
        width: 290px;
        height: 291px;
    }
    &__logo {
        width: 290px;
        height: 291px;
    }
    .caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(43, 41, 45, 0.6);
        margin-top: 17px;
    }

    &__rectangle {
        width: 150px;
        height: 1px;
        background: #000000;
        opacity: 0.1;
        margin-top: 79px;
    }

    &__instruction {
        margin-top: 33px;
    }
    &__subscriptions {
        margin: 0;
        width: 290px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #2b292d;
    }
    .subscriptions__bold-text {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #2b292d;
    }
    .text-decor {
        display: inline-block;
        color: rgba(48, 64, 196, 1);
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        margin-top: 5px;
    }
    .rectangle__subscription {
        width: 284px;
        height: 1px;
        margin-top: -5px;
        background-color: rgba(48, 64, 196, 1);
        margin-bottom: 33px;
    }
    .rectangle__flex {
        width: 234px;
        height: 1px;
        margin-top: -5px;
        background-color: rgba(48, 64, 196, 1);
        margin-bottom: 32px;
    }
    .rectangle__comunication {
        width: 235px;
        height: 1px;
        margin-top: -5px;
        background-color: rgba(48, 64, 196, 1);
    }
}
